services:
  app:
    build: .
    environment:
      - HOST=localhost
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=root
      - DB_PASS=root
      - DB_NAME=iykra-test
    ports:
      - '3000:3000'
    volumes:
      - .:/app
  db:
    container_name: posgres-db
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_USER=root
      - POSTGRES_DB=iykra-test
    volumes:
      - pgdata:/var/lib/postgresql/data
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db

volumes:
  pgdata:
